@import "../OverAll.scss";

* {
  @include overAll;
}

body {
  background: $primaryColor;
  // height: 600px;
  // padding: 1rem;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3rem;
  position: sticky;
  top: 0;
  background: $primaryColor;
  width: 100%;
  .title-header {
    display: flex;
    align-items: center;
    img {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 15px;
      background: $txtColor;
      cursor: pointer;
    }
  }
  .icon {
    display: flex;
    align-items: center;
    svg,
    img {
      display: block;
      width: 50px;
      height: 50px;
      border: none;
      border-radius: 15px;
      margin: 0 2px;
      background: $txtColor;
      cursor: pointer;
      color: #fff;
    }
  }
  .nav ul {
    display: flex;
    li {
      margin: 0 15px;
      list-style: none;
      a {
        color: $secondaryColor;
        text-decoration: none;
        transition: all 0.2s ease;
        font-weight: bold;
        &:hover {
          color: $txtColor;
        }
      }
    }
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $txtColor;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    padding: 3px;
    span {
      display: block;
      margin: 3px 0;
      width: 25px;
      height: 3px;
      border-radius: 20px;
      background: $secondaryColor;
    }
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $primaryColor;
    z-index: 100;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    text-align: center;
    a {
      padding: 5px 25px 5px 32px;
      text-decoration: none;
      font-size: 18px;
      color: $secondaryColor;
      display: block;
      transition: 0.3s;
    }

    .closeBtn {
      position: absolute;
      top: 0;
      left: 0px;
      font-size: 36px;
    }
  }
}

.signIn-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 50%;
  height: 550px;
  background: $txtColor;
  margin: 0 auto;
  box-shadow: 4px 4px 4px 0 rgba($color: #000, $alpha: 0.5);
  .logo {
    background: $txtColor;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 4px 4px 4px 0 rgba($color: #c9c9c9, $alpha: 0.5),
      -4px -4px 4px 0 rgba($color: #c9c9c9, $alpha: 0.5),
      -4px 4px 4px 0 rgba($color: #c9c9c9, $alpha: 0.5),
      4px -4px 4px 0 rgba($color: #c9c9c9, $alpha: 0.5);
  }
  .title {
    text-align: center;
    padding-top: 24px;
    @include textStyle(25px, bold, $secondaryColor);
  }
  .fields {
    width: 90%;
    padding: 5px;
    .username,
    .userPass {
      margin-bottom: 30px;
      border-radius: 25px;
      box-shadow: 4px 4px 4px 0 rgba($color: #000, $alpha: 0.5);
      input {
        border: none;
        background: none;
        outline: none;
        @include textStyle(18px, 100, $secondaryColor);
        padding: 20px 10px 20px 5px;
        &::placeholder {
          color: $txtColor;
        }
      }
    }
  }
  .signIn-btn {
    cursor: pointer;
    width: 90%;
    height: 60px;
    border: none;
    border-radius: 25px;
    margin: 15px auto;
    padding: 15px;
    background: linear-gradient(45deg, $primaryColor, $txtColor);
    box-shadow: 4px 4px 4px 0 rgba($color: #000, $alpha: 0.5);
    @include textStyle(1.1rem, 700, $secondaryColor);
    &:hover {
      background: linear-gradient(45deg, $txtColor, $primaryColor);
    }
  }
  .link {
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    @include textStyle(15px, 300, $txtColor);
    a {
      text-decoration: none;
      @include textStyle(15px, 500, $secondaryColor);
    }
  }
}

.signUp-div {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 50%;
  height: 550px;
  background: $txtColor;
  margin: 0 auto;
  box-shadow: 4px 4px 4px 0 rgba($color: #000, $alpha: 0.5);
  .logo {
    background: $txtColor;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 4px 4px 4px 0 rgba($color: #c9c9c9, $alpha: 0.5),
      -4px -4px 4px 0 rgba($color: #c9c9c9, $alpha: 0.5),
      -4px 4px 4px 0 rgba($color: #c9c9c9, $alpha: 0.5),
      4px -4px 4px 0 rgba($color: #c9c9c9, $alpha: 0.5);
  }
  .title {
    text-align: center;
    padding-top: 24px;
    @include textStyle(25px, bold, $secondaryColor);
  }
  .fields {
    width: 90%;
    padding: 5px;
    .username,
    .userPass,
    .userPassConfig {
      margin-bottom: 30px;
      border-radius: 25px;
      box-shadow: 4px 4px 4px 0 rgba($color: #000, $alpha: 0.5);
      input {
        border: none;
        background: none;
        outline: none;
        @include textStyle(18px, 100, $secondaryColor);
        padding: 20px 10px 20px 5px;
        &::placeholder {
          color: $txtColor;
        }
      }
    }
  }
  .signUp-btn {
    cursor: pointer;
    width: 90%;
    height: 60px;
    border: none;
    border-radius: 25px;
    margin: 15px auto;
    padding: 15px;
    background: linear-gradient(45deg, $primaryColor, $txtColor);
    box-shadow: 4px 4px 4px 0 rgba($color: #000, $alpha: 0.5);
    @include textStyle(1.1rem, 700, $secondaryColor);
    &:hover {
      background: linear-gradient(45deg, $txtColor, $primaryColor);
    }
  }
  .link {
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    @include textStyle(15px, 300, $txtColor);
    a {
      text-decoration: none;
      @include textStyle(15px, 500, $secondaryColor);
    }
  }
}

.svg-icon {
  width: 22px;
  height: 22px;
  margin: 0 10px -4px 25px;
  color: $secondaryColor;
}

@include media(M) {
  header {
    padding: 10px 1rem;
    .hamburger-menu {
      display: flex;
    }
    .title-header {
      display: none;
    }
    .nav {
      display: none;
    }
  }
  .signIn-div {
    width: 75%;
    .logo {
      width: 85px;
      height: 85px;
    }
    .title {
      display: none;
    }
  }
  .fields {
    width: 90%;
    padding: 15px;
    .username,
    .userPass {
      margin-bottom: 15px;
      border-radius: 5px;
    }
  }
  .signUp-div {
    width: 75%;
    .logo {
      width: 85px;
      height: 85px;
    }
    .title {
      display: none;
    }
  }
  .fields {
    width: 90%;
    padding: 15px;
    .username,
    .userPass {
      margin-bottom: 15px;
      border-radius: 5px;
    }
  }
}
