* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #8400ff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3rem;
  position: sticky;
  top: 0;
  background: #8400ff;
  width: 100%;
}
header .title-header {
  display: flex;
  align-items: center;
}
header .title-header img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
header .icon {
  display: flex;
  align-items: center;
}
header .icon svg,
header .icon img {
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 15px;
  margin: 0 2px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: #fff;
}
header .nav ul {
  display: flex;
}
header .nav ul li {
  margin: 0 15px;
  list-style: none;
}
header .nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease;
  font-weight: bold;
}
header .nav ul li a:hover {
  color: rgba(255, 255, 255, 0.5);
}
header .hamburger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 15px;
  padding: 3px;
}
header .hamburger-menu span {
  display: block;
  margin: 3px 0;
  width: 25px;
  height: 3px;
  border-radius: 20px;
  background: #fff;
}
header .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #8400ff;
  z-index: 100;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  text-align: center;
}
header .sidebar a {
  padding: 5px 25px 5px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: 0.3s;
}
header .sidebar .closeBtn {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 36px;
}

.signIn-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 50%;
  height: 550px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
}
.signIn-div .logo {
  background: rgba(255, 255, 255, 0.5);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  box-shadow: 4px 4px 4px 0 rgba(201, 201, 201, 0.5), -4px -4px 4px 0 rgba(201, 201, 201, 0.5), -4px 4px 4px 0 rgba(201, 201, 201, 0.5), 4px -4px 4px 0 rgba(201, 201, 201, 0.5);
}
.signIn-div .title {
  text-align: center;
  padding-top: 24px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}
.signIn-div .fields {
  width: 90%;
  padding: 5px;
}
.signIn-div .fields .username,
.signIn-div .fields .userPass {
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
}
.signIn-div .fields .username input,
.signIn-div .fields .userPass input {
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  font-weight: 100;
  color: #fff;
  padding: 20px 10px 20px 5px;
}
.signIn-div .fields .username input::placeholder,
.signIn-div .fields .userPass input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.signIn-div .signIn-btn {
  cursor: pointer;
  width: 90%;
  height: 60px;
  border: none;
  border-radius: 25px;
  margin: 15px auto;
  padding: 15px;
  background: linear-gradient(45deg, #8400ff, rgba(255, 255, 255, 0.5));
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
}
.signIn-div .signIn-btn:hover {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), #8400ff);
}
.signIn-div .link {
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}
.signIn-div .link a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

.signUp-div {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 50%;
  height: 550px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
}
.signUp-div .logo {
  background: rgba(255, 255, 255, 0.5);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  box-shadow: 4px 4px 4px 0 rgba(201, 201, 201, 0.5), -4px -4px 4px 0 rgba(201, 201, 201, 0.5), -4px 4px 4px 0 rgba(201, 201, 201, 0.5), 4px -4px 4px 0 rgba(201, 201, 201, 0.5);
}
.signUp-div .title {
  text-align: center;
  padding-top: 24px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}
.signUp-div .fields {
  width: 90%;
  padding: 5px;
}
.signUp-div .fields .username,
.signUp-div .fields .userPass,
.signUp-div .fields .userPassConfig {
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
}
.signUp-div .fields .username input,
.signUp-div .fields .userPass input,
.signUp-div .fields .userPassConfig input {
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  font-weight: 100;
  color: #fff;
  padding: 20px 10px 20px 5px;
}
.signUp-div .fields .username input::placeholder,
.signUp-div .fields .userPass input::placeholder,
.signUp-div .fields .userPassConfig input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.signUp-div .signUp-btn {
  cursor: pointer;
  width: 90%;
  height: 60px;
  border: none;
  border-radius: 25px;
  margin: 15px auto;
  padding: 15px;
  background: linear-gradient(45deg, #8400ff, rgba(255, 255, 255, 0.5));
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
}
.signUp-div .signUp-btn:hover {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), #8400ff);
}
.signUp-div .link {
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}
.signUp-div .link a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

.svg-icon {
  width: 22px;
  height: 22px;
  margin: 0 10px -4px 25px;
  color: #fff;
}

@media (max-width: 768px) {
  header {
    padding: 10px 1rem;
  }
  header .hamburger-menu {
    display: flex;
  }
  header .title-header {
    display: none;
  }
  header .nav {
    display: none;
  }
  .signIn-div {
    width: 75%;
  }
  .signIn-div .logo {
    width: 85px;
    height: 85px;
  }
  .signIn-div .title {
    display: none;
  }
  .fields {
    width: 90%;
    padding: 15px;
  }
  .fields .username,
  .fields .userPass {
    margin-bottom: 15px;
    border-radius: 5px;
  }
  .signUp-div {
    width: 75%;
  }
  .signUp-div .logo {
    width: 85px;
    height: 85px;
  }
  .signUp-div .title {
    display: none;
  }
  .fields {
    width: 90%;
    padding: 15px;
  }
  .fields .username,
  .fields .userPass {
    margin-bottom: 15px;
    border-radius: 5px;
  }
}

/*# sourceMappingURL=form.css.map */
